<ul class="alert alert-danger" *ngIf="errors?.length > 0">
    <li style="margin-left: 10px;" *ngFor="let err of errors">{{err}}</li>
</ul>
<div class="card bg-dark text-white">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <form #clienteForm="ngForm">
            <div class="form-group row my-2">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" required minlength="4" #nombre="ngModel">
                    <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <div *ngIf="nombre.errors.required">Nombre es requerido</div>
                        <div *ngIf="nombre.errors.minlength">Nombre debe tener un minimo de 4 caracteres</div>
                    </div>
                </div>
            </div>

            <div class="form-group row my-2">
                <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" required #apellido="ngModel">
                    <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                        <div *ngIf="apellido.errors.required">Apellido es requerido</div>
                    </div>
                </div>
            </div>

            <div class="form-group row my-2">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" required email #email="ngModel">
                    <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors.required">Email es requerido</div>
                        <div *ngIf="email.errors.email">Email deve tener un formato valido</div>
                    </div>
                </div>
            </div>

            <div class="form-group row my-2">
                <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
                <div class="col-sm-6">
                    <input matInput
                        [matDatepicker]="miDatapicker"
                        class="form-control"
                        [(ngModel)]="cliente.createAt"
                        name="createAt"
                        style="display: inline; width: 300px;"
                    >
                    <mat-datepicker-toggle matSuffix [for]="miDatapicker"></mat-datepicker-toggle>
                    <mat-datepicker #miDatapicker></mat-datepicker>
                </div>
            </div>
            <div class="form-group row my-2">
                <label for="region" class="col-form-label col-sm-2">Región</label>
                <div class="col-sm-6">
                    <select
                        class="form-select"
                        [(ngModel)]="cliente.region"
                        name="region"
                        style="width: 500px;"
                        [compareWith]="compararRegion"
                    >
                        <option [ngValue]="undefined">--- seleccionar una región ---</option>
                        <option *ngFor="let region of regiones" [ngValue]="region">{{region.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <button [disabled]="!clienteForm.form.valid" *ngIf="!cliente.id else elseBlock" class="btn btn-primary" role="crear" (click)="create()">Crear</button>
                    <ng-template #elseBlock>
                        <button [disabled]="!clienteForm.form.valid" class="btn btn-primary" role="editar" (click)="update()">Editar</button>
                    </ng-template>
                </div>
            </div>
        </form>
    </div>
</div>
